p{
    line-height: 19px;
    font-size: 13px;
}

h2{
    font-family: inherit;
    font-size: 16px;

}

a{
    font-family: inherit;
    text-decoration: none;

}

#footer{

  background-color: #232F3E !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;


}

.footerSectionOne{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: antiquewhite;
    font-size: 13px;
    background-color: #37475A;
}

.footerSectionTwo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: antiquewhite;
}

.footerSectionThree{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: antiquewhite;
    font-size: 13px;
    background-color: #37475A !important;
}

.footerSubSectionTwo{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#mediaQueryExample{

    height: 300px;
    width: 300px;
    color: green;
    padding: 100px;
    text-align: center;
    align-items: center;
    background-color: #232F3E;

    margin: 100px 500px;
}
@media screen  and (max-width:768px){

    #mediaQueryExample{
        background-color: chocolate;
        margin: 50px 80px;
    }

    .footerSubSectionTwo{

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: yellow;
    }


}

@media screen  and (max-width:320px){

    #mediaQueryExample{
        background-color: red;
        margin: 20px 40px;
    }

    .footerSubSectionTwo{

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: pink;
    }


}